@model IEnumerable<GuestResponse>

@{
    ViewData["Title"] = "Guest List";
}

<h1>Guest List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Will attend</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GuestResponse r in Model)
        {
        <tr>
            <td>@r.Name</td>
            @if (r.WillAttend == null)
            {
                <td>Don't know</td>
            } else if (r.WillAttend == true)
            {
                <td>Yes</td>
            } else
            {
                <td>No</td>
            }
        </tr>
        }
    </tbody>
</table>

<a asp-action="PeopleCommingToParty" class="btn btn-primary">See only people who is comming to party</a>
<a asp-action="Index" class="btn btn-secondary">Home</a>
