@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the party</h1>

    <p>We are going to throw an exciting party</p>
    <p>You are here because we sent you an invite</p>
    <a asp-action="Register">Click here to accept or reject the invitation</a>
    <br />
    <a asp-action="GuestList">See the guest list</a>
</div>
