@model GuestResponse

@{
    ViewData["Title"] = "Thank You";
}

<h1 class="text-success">Thank You @Model.Name</h1>
<p class="text-success">Thank you for registering</p>

<p>
    @if (Model.WillAttend == null)
    {
        @: Please give us a call when you decide.
    } else if (Model.WillAttend == true)
    {
        @: We are counting on you and we will have a surprise for you.
    } else
    {
        @: Sorry to hear that. We hope you can come next time.
    }
</p>

<a asp-action="GuestList" class="btn btn-primary">See the guest list</a>
<a asp-action="Index" class="btn btn-secondary">Home</a>
